@import 'commonMixin.scss';


#tree {
    text-align: center;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    #root-label-wrap{
        #root-label {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 8px 0px;
            border: {
                width: 0px;
                radius: 4px;
            }
            vertical-align: middle;
        }
    }
    .drop-cap-wrap{
        width: 100%;
        overflow: hidden;
        .drop-cap {
            display: inline-block;
            margin: 4px 0px;
            text-align: center;
            border: {
                width: 1px;
                style: solid;
                color: rgba(0, 0, 0, 0);
                radius: 6px;
            }
            background-color: rgba(221, 205, 220, 0.486);
            box-shadow: 0 1px 2px rgb(148, 148, 148);
            white-space: nowrap;
            .drop-cap-char {
                display: inline-block;
                width: 34px;
                margin-top: 50%;
                transform: translateY(-50%);
                text-align: center;
                font: {
                    size:14px;
                    weight: 600;
                }
            }

        }
        .child-label {
            min-width: 120px;
            display: none;
            vertical-align: top;
            position: absolute;
            right: -154px;
            background-color: rgb(255, 255, 255);
            white-space: nowrap;
            box-shadow: 0px 0px 3px 1px rgb(139, 139, 139);
            border: {
                width: 1px 1px 1px 0px;
                style: solid;
                color: rgba(177, 175, 175, 0.45);
            }
        }
        .child-label2{
            margin: 2px 0 0 0;
            background-color: rgba(236, 234, 236, 0.486);
        }
        .label-title{
            display: inline-block;
            margin: 4px -18px;
            font-size: 13px;
        }
    }
    .add-shadow {
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
    }
    .add-child-label {
        background-color: rgba(182, 13, 13, 0.664);
    }
    .delete-child-label {
        background-color: rgba(177, 122, 122, 0.664);

    }
    .add-child-label:hover,.delete-child-label:hover {
        background-color: rgba(90, 7, 7, 0.897);
    }
    .add-child-label,
    .add-child-label:active,
    .add-child-label:visited,
    .add-child-label:focus,
    .delete-child-label,
    .delete-child-label:active,
    .delete-child-label:visited,
    .delete-child-label:focus {
        border: {
            width: 1px;
            color: rgba(68, 68, 68, 0);
            style: solid;
            radius: 10px;
        }
        box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
        // background-color: rgba(182, 21, 21, 0.664);
        color:white;
        width: 14px;
        padding: 0px;
        margin: 2px;
        line-height: 9pt;
    }
    .expand-list {
        overflow: unset;
        text-align: left;
        border-color: white;
        display: inline-block !important;
    }
    .channel{
        margin: 4px 0px;
    }
}

#tree:hover{
    @include scrollbar('&');
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
    &::-webkit-scrollbar {
        display: auto; /* Chrome, Safari, Opera*/
    }
}