@import 'commonMixin.scss';


#tree {
    text-align: center;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    #root-label-wrap{
        #root-label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin: 8px 0px;
            border: {
                width: 0px;
                radius: 4px;
            }
            vertical-align: middle;
        }
    }
    .drop-cap-wrap{
        width: 100%;
        overflow: hidden;
        .drop-cap {

            display: inline-block;
            
            margin: 4px 0px;
            text-align: center;
            border: {
                width: 1px;
                style: solid;
                color: black;
                radius: 4px;
            }
            white-space: nowrap;
            .drop-cap-char {
                display: inline-block;
                width: 34px;
                margin-top: 50%;
                transform: translateY(-50%);
                text-align: center;
                font: {
                    weight: 800;
                }
            }

        }
        .child-label {
            min-width: 120px;
            display: none;
            vertical-align: top;
            position: absolute;
            right: -154px;
            background-color: white;
            white-space: nowrap;
            box-shadow: 0px 0px 3px 1px rgb(240,240,240);
            border: {
                width: 1px 1px 1px 0px;
                style: solid;
                color: rgba(150, 150, 150, 0.45);
            }
        }
        .child-label2{
            border: {
                width: 0 0 0 2px;
                style: solid;
                color:rgb(150,150,150);
            }
        }
        .label-title{
            display: inline-block;
            margin: 4px 0px;
        }
    }
    .add-shadow {
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
    }
    .add-child-label,
    .add-child-label:active,
    .add-child-label:visited,
    .add-child-label:focus,
    .add-child-label:hover,
    .delete-child-label,
    .delete-child-label:active,
    .delete-child-label:visited,
    .delete-child-label:focus,
    .delete-child-label:hover{
        border: {
            width: 1px;
            color: black;
            style: solid;
        }
        background-color: white;
        width: 14px;
        padding: 0px;
        margin: 1px;
        line-height: 9pt
    }
    .expand-list {
        overflow: unset;
        text-align: left;
        border-color: white;
        display: inline-block !important;
    }
    .channel{
        margin: 4px 0px;
    }
}

#tree:hover{
    @include scrollbar('&');
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
    &::-webkit-scrollbar {
        display: auto; /* Chrome, Safari, Opera*/
    }
}